* {
  font-family: sans-serif;
  font-size: 1em;
  color: #FFF;
}
body{
  background-color: #4285f4;
}
#logo-container{
  display: flex;
  justify-content: center;
}

nav{ 
  margin: 10px 90px;
}

button{
  padding: 8px;
  border-radius: 5px;
  border: none;
  background: #FFF;
  color: #4285f4;
  font-weight: bold;
  margin: 10px;
}

table {
  width: 100%;
}

tr {
  text-align: left;
}

table tr {
  border: 2px solid #404040;
}

.data{
  margin: 10px 40px;
  height: 60vh;
  overflow-y: scroll;
}